#	. Environment Dependent .
smartass.properties

#
.gradle/

#	. Gradle Wrapper .
gradlew
gradlew.bat
gradle/

#	. Library Dependencies (not under Maven) .
lib/
tstLib/

#	. Build Process Generated .
build/

#	. Bash resource file
smartass.rc

#	> > >  New Stuff Here  < < <
resource/data/html/download/ass*
src/main/webapp/data
src/main/webapp/download
*.orig
make
selenium/*.jar
selenium/*.class
