#	. Environment Dependent .
smartass.properties

#	. Vim swap files .
*.swp
*.swo

#	. Mac OS X orperating system files .
.DS_Store

#	. Supplied files .
origin/
3rd/

#	. Build logs .
*.log

#

#	. Gradle Wrapper .
gradlew.bat

#	. Library Dependencies (not under Maven) .
lib/
tstLib/

#	. Build Process Generated .
build/

#	. Bash resource file
smartass.rc

#	> > >  New Stuff Here  < < <
resource/data/html/download/ass*
src/main/webapp/data
src/main/webapp/download

resource/data/plugin/
*TestSample*.*
*example*.*
*Test*.*

resource/questions/**/*.pdf

#       . Node Utility .
node_modules
.npm
npm-debug.log*
.idea/*
./gradle/*
