.background-primary-color {
    background-color: #009688 !important;
}

.background-primary-color-lighter {
    background-color: #4DB6AC !important;
}

.primary-color {
    color: #009688 !important;
}

.primary-color-lighter {
    color: #4DB6AC !important;
}

.white {
    color: #ffffff !important;
}

.secondary-color {
    color: orange !important;
}

.background-secondary-color {
    background: orange !important;
}

.borderless .header td {
    border: none !important;
}

.no-radius {
    border-radius: 0px;
    border: none;
}

.enter {
    margin-left: 50%;
    margin-top: 50px;
    transform: translate(-50%, 0);
}

#maincontent {
    font-size: 18px;
}
